* {
  box-sizing: border-box;
}

/* #wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
} */



header {
  margin-left: 2%;
  margin-top: .25%;
  max-width: 13%;
  height: auto;
  float: left;
}

body {
  /*  background-image: url(photos/blurequipoisecover.PNG);
  background-repeat: no-repeat;
  background-attachment: fixed; */
  background-color: rgb(255, 255, 255);
  background-size: cover;
  background-position: center;
  font-family: 'Lato', sans-serif;
}




nav {
  width: 100%;
  color: rgb(0, 0, 0);
  font-family: 'Lato', sans-serif;
  padding: 3em;
  display: inline;
}



nav a {
  font-weight: bold;
  font-size: 200%;
  color: rgb(0, 0, 0);
  font-family: 'Lato', sans-serif;
  text-decoration: none;
}

nav ul li {
  list-style-type: none;
  display: inline;
  padding: 1.5%;
  margin-left: 4%;
}

nav a:hover {
  color: #87cbff;
  display: inline-block;
  /* background-color: #0054a6; */
  /* background-color: rgb(0, 0, 0); */
  /*  background-color: #87cbff;
  padding: 10px;
  border: 3px solid #000000; */
}

main {
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  clear: left;
}

main {
  text-decoration: none;
  color: #000000;
  font-size: 2em;
}

main a {
  text-decoration: none;
  color: #000000;
  font-size: 2em;
  padding: 10px;
}

.hugelink {
  font-size: 5em;
}

.linkspage {
  padding-top: 10%;
}


main a:hover {
  /* color: rgb(0, 0, 0); */
  color: #87cbff;
}

.listen {
  font-size: .5em;
  color: #000000;
  background-color: rgb(255, 255, 255);
  border: 2px solid #000000;
  /* border-radius: 10%; */
}

main div section figure a:hover {
  color: #000000;
  background-color: #87cbff;
  /* color: #000000;
  background-color: #0054a6; */
}



footer {
  margin-top: 15%;
  text-align: center;
  font-size: 1.2em;
  color: #000000;
}



.bigpagecopyright {
  padding-top: 2%;
  font-size: 70%;
}


footer a {
  text-decoration: none;
  color: #000000;
  padding: 2% 3%;
}

.iframecontainer {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}

.iframecontainer iframe {
  position: absolute;
  top: 3%;
  left: 15%;
  width: 70%;
  height: 70%;
  margin-left: auto;
  margin-right: auto;
}

p {
  width: 90%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: bold;
  font-size: 1em;
  word-spacing: .3em
}

img {
  border: 4px solid #000000;
  max-width: 100%;
  height: auto;
  margin: 1px;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 0%;
  margin: 1%;
}

#release {
  border: 2.5px solid #000000;
  width: 40%;
  height: auto;
  margin: 1px;
}

/* .logo {
  max-width: 10%;
  height: auto;
  float: left;
} */

.bio {
  /*  background-color: #000000; */
  font-size: .7em;
  text-align: left;
  padding: 25px;
  border: 3px solid #000000;
  margin: 5px;
}

.sub {
  /* background-color: #000000; */
  font-size: 1em;
  text-align: left;
  padding: 20px;
  /* border: 3px solid #000000; */
  margin-left: auto;
  margin-right: auto;
}


.entireform {
  padding-bottom: 10%;
  margin-left: auto;
  margin-right: auto;
}

input[type=submit] {
  background-color: #000000;
  border: 2px solid #000000;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #87cbff;
  color: #000000;
}

input[type=email] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.merch {
  background-color: white;
}

.onethird {
  width: 33%;
  float: left;
  margin-top: 1.6%;
}


#table {
  color: #000000;
  border-collapse: collapse;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  margin-top: 5%;
}



#table td,
#table th {
  color: #000000;
  border: .05em solid #000000;
  padding: 8px;
}

/* #table tr:nth-child(even){background-color: #ffffff9d;}
#table tr:nth-child(odd){background-color: #ffffff9d;} */

/* #87cbff  ff blue*/

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #87cbff;
  color: #000000;
}

.inquiries {
  margin-top: 9%;
}



input {
  margin-bottom: .5em;
}

.buystuff {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

section {
  width: 33%;
  height: auto;
}

.aboutpage {
  display: flex;
  flex-direction: row;
}

.rotate {
  width: 50%;
  height: auto;
}

.hamburger {
  display: none;
}

#myNav {
  display: none;
}

.phonelogo {
  display: none;
}

#copyrighttext {
  font-size: 90%;
}











/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}










@media (max-width: 600px) {
  header {
    display: none;
  }

  .hamburger {
    display: inline;
    font-size: 250%;
  }

  nav ul li {
    display: none;
  }

  /* The Overlay (background) */
  .overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    /* Black fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/opacity */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }

  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 7%;
    /* 25% from the top */
    width: 75%;
    /* 75% width */
    text-align: Left;
    /* Left Align text/links */
    margin-top: 30px;
    /* 30px top margin to avoid conflict with the close button on smaller screens */
    margin-left: 15px;
  }

  /* The navigation links inside the overlay */
  .overlay a {
    padding: 12px;
    text-decoration: none;
    font-size: 200%;
    color: #87cbff;
    display: block;
    /* Display block instead of inline */
    transition: 0.3s;
    /* Transition effects on hover (color) */
  }

  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }

  .phonelogo {
    display: inline;
    font-size: 200%;
    margin-left: 1em;
  }


  #release {
    width: 100%;
    height: auto;
    margin-top: 15%;
  }

  #amazonlink,
  #youtubelink,
  #cloudlink {
    display: none;
  }

  figure figcaption a {
    font-size: 250%;
    margin: 5%;
  }

  .linkspage {
    display: flex;
    flex-flow: column;
    font-size: 270%;
  }

  #table {
    font-size: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
  }

  .buystuff {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  section {
    width: 99%;
    height: auto;
    font-size: 100%;
  }

  .aboutpage {
    display: flex;
    flex-direction: column;
  }

  .rotate {
    width: 100%;
    height: auto;
  }

  .bio {
    font-size: 50%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  h2 {
    font-size: 90%;
    padding-top: 6%;
  }

  footer {
    display: none;
  }

  .inquiries {
    margin-top: 40%;
  }

  .iframecontainer {
    margin-top: 20%;
  }

  .sub {
    font-size: 60%;
  }

  input[type=email] {
    width: 70%;
  }
  input[type=submit] {
    width: 100%;
  }

}